h1{
    color: red;
    text-align: center;
}

h2{
    color: green;
    text-align: end;
}

h3{

    text-align: start;
    color: yellow;
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    font-weight: bold;
}

body{
    background-image: url("wallpaper.jpg");
}